/* Float four columns side by side */
.column {
  float: left;
  width: 15%; /* Ajusta este valor según el diseño que quieras */
  padding: 0 15px;
  text-decoration: none;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0px;
  margin-left: 60px;
  margin-right: 10px;
  text-decoration: none;
}

/* Style the counter cards */
.card {
  padding: 10px; /* Asegúrate de que el padding sea positivo */
  text-align: center;
  font-size: 10px; /* Ajusta el tamaño del texto si es necesario */
  background-color: gray;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  height: 150px; /* Cambiado a la mitad del tamaño original */
  width: 125px; /* Cambiado a la mitad del tamaño original */
  margin: 0 auto; /* Centra la carta en su columna */
}

h2 {
  font-weight: bold;
  color: yellow;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 50px;
}

h3 {
  font-weight: bold;
  color: blue;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 2px;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 1000px) {
  .column {
      width: 100%; /* Mantén una columna en pantallas más pequeñas */
      display: block; /* Asegúrate de que se comporten como bloques */
      margin-bottom: 20px;
      text-decoration: none;
  }
}

.container {
  text-decoration: none;
}

.sub {
  text-decoration: none;
  text-decoration-line: none;
}
